*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  font-size: 2vh;
  color: #fff;
}

.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: justify;
  width: 90%;
}

.content>h4 {
  text-align: left;
}

main {
  display: flex;
  flex-direction: row;
  background-image: url("cloud.jpg");
  background-size: cover;
  padding: 10vh 4vw;
}

div>img {
  width: 10vw;
}

#main {
  width: 82%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 3vw;
}

#main>section {
  width: 28%;
  padding: 4vh 4vw 0 0;
}

#one {
  flex-grow: 15;
}

#four {
  flex-grow: 30;
}

#aside {
  background-image: url("faces.jpg");
  background-size: cover;
  position: relative;
  width: 45vw;
  border-radius: 12%;
  padding: 15vh;
}

header {
  padding: none;
  margin: none;
  height: 25vh;
}

header>h1 {
  margin: none;
}

nav>a {
  color: #fff;
  text-decoration: none;
}

footer {
  height: 35vh;
}

@media screen and (max-width: 800px) {
  main {
    display: flex;
    flex-direction: column;
    padding: none;
    margin: none;
  }

  #main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: none;
    margin: none;
  }

  #main>section {
    width: 100%;
  }

  #aside {
    width: 100%;
  }

}