*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  font-size: 2vh;
  color: #fff;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


#video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
  width: 80%;
  height: 90%;
  margin-bottom: 3vh;
  justify-content: space-between;
  overflow: auto;
}

h1 {
  font-style: italic;
}

h2 {
  font-style: italic;
}

h4 {
  text-align: left;
  font-style: italic;
}

h3 {
  font-style: italic;
}

.content>p {
  font-size: larger;
  text-align: left;
}

#header>.video-container>.content>section {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

body {
  background-image: url("./cloud.jpeg");
  background-size: cover;
}

header {
  padding: none;
  margin: none;
  height: 30vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

nav>a {
  color: #fff;
  text-decoration: none;
  font-size: large;
}

.image-button {
  height: fit-content;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: row;
  padding: 10vh 4vw;
}

div>img {
  width: 28vw;
  opacity: 0.6;
}

#main {
  width: 82%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 3vw;
}

#main>section {
  width: 28%;
  padding: 4vh 4vw 0 0;
}

#one {
  flex-grow: 15;
}

#one>article>:last-child {
  color: rgb(95, 93, 93);
}

#two>article>:nth-child(2) {
  color: rgb(95, 93, 93);
}

#two>article>p {
  color: black;
}

#three>article>:nth-child(2) {
  color: rgb(95, 93, 93);
}

#three>article>p {
  color: black;
}

#three {
  margin-right: 1vw;
}

#four {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: -39vh;
}

#four>article>:last-child {
  color: rgb(95, 93, 93);
}

#four>article {
  width: 50vw;
}

#four>article>div>img {
  width: 42vw;
  position: sticky;
  overflow: visible;
  opacity: 0.6;
}

aside {
  background-image: url("./faces.jpeg");
  opacity: 0.6;
  background-size: cover;
  position: relative;
  width: 45vw;
  padding: 15vh;
  margin-left: 3vw;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside>section {
  height: 55%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: none;
  margin: none;
}

aside>section>:nth-child(2) {
  margin-left: 5vw;
}

aside>:last-child {
  margin-left: 10vw;
}

select {
  background-color: transparent;
  border: none;
  font-size: larger;
}

footer {
  padding: none;
  margin: none;
  height: 30vh;
}

footer>.video-container>.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 88%;
}

footer>.video-container>.content>.image-button {
  align-self: flex-start;
}

footer>.video-container>.content>p {
  text-align: right;
}

@media screen and (max-width: 768px) {
  * {
    font-size: small;
  }

  nav>a {
    font-size: small;
  }

  select {
    font-size: small;
  }

  main {
    display: flex;
    flex-direction: column;
    padding: none;
    margin: none;
  }

  .content {
    width: 90%;
    max-width: none;
    overflow: none;
    overflow-wrap: normal;
  }

  .content>p {
    font-size: small;
  }

  #main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: none;
    margin: none;
  }

  #main>section {
    width: 100%;
  }

  #main>section>article>p {
    color: rgb(95, 93, 93);
  }

  #four {
    margin-top: 2vh;
  }

  aside {
    padding: none;
    width: 90%;
  }

  aside>div>.image-button {
    display: none;
  }

  footer {
    height: 35vh;
  }
}


@media screen and (min-width: 800px) {

  #one>.image-button {
    display: none;
  }

  #three>.image-button {
    display: none;
  }

  main>div>.image-button {
    display: none;
  }
}